<!doctype html>

<html>
<head>

<meta charset="utf-8">
<!-- If you delete this meta tag World War Z will become a reality -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Junge Union - Portal</title>

<link rel="stylesheet" href="resources/css/fonts.css">

<link rel="stylesheet" href="resources/css/foundation.css">
<link rel="stylesheet" href="resources/css/app.css">

<script src="resources/js/vendor/jquery.js" type="text/javascript"></script>
<script src="resources/js/foundation/foundation.js"
	type="text/javascript"></script>
<script src="resources/js/foundation/foundation.accordion.js"
	type="text/javascript"></script>
<script src="resources/js/vendor/modernizr.js" type="text/javascript"></script>

<script src="resources/js/angular/angular.js" type="text/javascript"></script>

<script src="resources/js/app.js" type="text/javascript"></script>

<!--  services -->
<script src="resources/js/services/routeservice.js"
	type="text/javascript"></script>

<!--  controller -->
<script src="resources/js/controller/busroutes.js"
	type="text/javascript"></script>
</head>
<body>

	<div class="row margin-bottom-36">
		<div class="columns large-12">
			<img src="resources/images/toplogo.png" alt="">
			<h1 class="decorative-headline">Junge Union Portal</h1>
		</div>
	</div>

	<!-- Menu -->

	<div class="menu-wrapper margin-bottom-36">
		<div class="row">
			<div class="columns large-24">
				<dl class="sub-nav">
					<div class="row">
						<div class="columns medium-4">
							<a href="#routeplan" class="menu-item">Fahrplan</a>
						</div>
						<div class="columns medium-4">
							<a href="#imprint" class="menu-item">Impressum</a>
						</div>
						<div class="columns medium-4">
							<a href="#licenses" class="menu-item">Lizenzen</a>
						</div>
					</div>
				</dl>
			</div>
		</div>
	</div>

	<!-- News -->

	<!-- Fahrpläne -->

	<div class="row margin-bottom-36" id="routeplan">
		<div class="columns large-12">
			<div id="content" data-ng-app="michaelruf" data-ng-cloak>
				<div id="busroutes" data-ng-controller="BusRoutesCtl"
					class="bus-routes-wrapper">

					<h2>Fahrpläne</h2>

					<div class="row">
						<div class="columns large-4">
							<label for="routeSelection">Route:</label> <select
								id="routeSelection" ng-model="selected.route"
								ng-options="route as route.name for route in routes">
							</select>
						</div>

						<div class="columns large-4">
							<label for="stationSelection">Haltestation:</label> <select
								id="stationSelection" data-ng-disabled="!selected.route"
								ng-model="selected.station"
								ng-options="station.name for station in getAvailableStations(selected)">
							</select>
						</div>

						<div class="columns large-4">

							<label for="daySelection">Wochentag:</label> <select
								id="daySelection" data-ng-model="selected.day">
								<option value="mo">Montag</option>
								<option value="di">Dienstag</option>
								<option value="mi">Mittwoch</option>
								<option value="do">Donnerstag</option>
								<option value="fr">Freitag</option>
								<option value="sa">Samstag</option>
								<option value="so">Sonntag</option>
							</select>

						</div>
					</div>
					<div class="row" class="trip-wrapper">
						<div class="columns large-12">

							<h3>Fahrzeiten:</h3>
							<span
								data-ng-show="selected.route && selected.station && selected.day">
								{{ getAvailableTrips(selected).length }} Fahrten für {{
								selected.station.name }}</span> <label
								for="{{!selected.route ? 'routeSelection' : !selected.station ? 'stationSelection' : 'daySelection' }}"
								data-ng-show="!selected.route || !selected.station || !selected.day">Bitte
								wählen Sie zunächst ihre Routeninformationen aus.</label>
							<ul class="accordion trip-list" data-accordion role="tablist"
								data-ng-show="selected.route && selected.station && selected.day">

								<li class="accordion-navigation"
									ng-repeat="trip in getAvailableTrips(selected)"><a
									href="#trip-{{ $index }}" role="tab"> {{
										getTripStartTimeForStation(trip, selected) }}<span
										class="icon-accordion right"></span>
								</a>
									<div id="trip-{{ $index }}" class="content" role="tabpanel">
										<div class="row"
											ng-repeat="station in selected.route.stations">
											<div class="columns small-8">{{ station.name }}</div>
											<div class="columns small-4 text-right">{{
												trip.times[$index] }}</div>
										</div>
									</div></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div
		class="impressum-wrapper padding-top-36 padding-bottom-36 highlight-links"
		id="imprint">
		<div class="row">
			<div class="columns large-24">
				<h2>Impressum</h2>
				<font size="2">Angaben gemäß § 5 TMG:<br> <br> <b>Junge
						Union Saar</b><br>Stengelstraße 5<br>66117 Saarbrücken<br>
					<br>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV: <a
					href="index.php?ka=1&amp;ska=profil&amp;pid=2">Alexander Zeyer</a>.
					<br> <br>Bei dem Inhalt unserer Internetseiten handelt es
					sich um urheberrechtlich geschützte Werke. Wir gestatten die
					Übernahme von Texten in Datenbestände, die ausschließlich für den
					privaten Gebrauch eines Nutzers bestimmt sind. Die Übernahme und
					Nutzung der Daten zu anderen Zwecken bedarf der schriftlichen
					Zustimmung. <br> <br> <b>Haftungshinweis:</b><br> Im
					Rahmen unseres Dienstes werden auch Links zu Internetinhalten
					anderer Anbieter bereitgestellt. Auf den Inhalt dieser Seiten haben
					wir keinen Einfluss; für den Inhalt ist ausschließlich der
					Betreiber der anderen Website verantwortlich. Trotz der Überprüfung
					der Inhalte im gesetzlich gebotenen Rahmen müssen wir daher jede
					Verantwortung für den Inhalt dieser Links bzw. der verlinkten Seite
					ablehnen. <br> <br> <b>Datenschutzerklärung für die
						Nutzung von Social-Plugins</b><br> Auf unseren Internetseiten
					sind Plugins von sozialen Netzwerken eingebunden. Die Plugins
					erkennen Sie an den entsprechenden Logos (Facebook, Google+,
					Twitter usw.).<br> <br>Wenn Sie mit den Plugins
					interagieren, baut Ihr Browser eine direkte Verbindung mit den
					Servern der sozialen Netzwerke auf. Die Sozialen Netzwerke erhalten
					dadurch die Information, dass Sie mit Ihrer IP-Adresse unsere Seite
					besucht haben. Wenn Sie bei den Sozialen Netzwerken eingeloggt
					sind, können diese den Besuch Ihrem jeweiligen Nutzer-Konto
					zuordnen.<br> <br>Da diese Übertragung direkt verläuft,
					erhalten wir keine Kenntnis von den übermittelten Daten.
					Informationen zu Zweck und Umfang der Datenerhebung durch die
					Sozialen Netzwerke, die weitere Verarbeitung und Nutzung der Daten
					durch die Sozialen Netzwerke sowie Ihre diesbezüglichen Rechte und
					Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre entnehmen
					Sie bitte den Datenschutzhinweisen des jeweiligen Sozialen
					Netzwerks.
				</font>
			</div>
		</div>
	</div>

	<div
		class="row margin-bottom-36 margin-top-36 highlight-links licenses-wrapper links-in-primary-colour"
		id="licenses">
		<div class="columns large-24">
			<h2>Lizenzen</h2>
			<div>
				<a href="resources/js/angular/license.txt" target="_blank">Angular
					JS 1.4.2</a>
			</div>
			<div>
				<a href="resources/js/foundation/license.txt" target="_blank">Foundation
					5.5.2</a>
			</div>
			<div>
				<a href="resources/js/vendor/fastclick-license.txt" target="_blank">Fastclick</a>
			</div>
			<div>
				<a href="resources/js/vendor/jquery-license.txt" target="_blank">Jquery</a>
			</div>
			<div>
				<a href="resources/js/vendor/modernizr-license.txt" target="_blank">Modernizr</a>
			</div>
			<div>
				<a href="resources/js/vendor/placeholder-license.txt"
					target="_blank">Placeholder</a>
			</div>
		</div>


	</div>

	<script type="text/javascript">
		$(document).foundation({
			accordion : {}
		});
	</script>
</body>
</html>