<!doctype html>

<html>
<head>

<meta charset="utf-8">
<!-- If you delete this meta tag World War Z will become a reality -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Junge Union - Portal</title>

<link rel="stylesheet" href="resources/css/fonts.css">

<link rel="stylesheet" href="resources/css/foundation.css">
<link rel="stylesheet" href="resources/css/app.css">

<script src="resources/js/vendor/jquery.js" type="text/javascript"></script>
<script src="resources/js/foundation/foundation.js"
	type="text/javascript"></script>
<script src="resources/js/foundation/foundation.accordion.js"
	type="text/javascript"></script>
<script src="resources/js/vendor/modernizr.js" type="text/javascript"></script>

<script src="resources/js/angular/angular.js" type="text/javascript"></script>

<script src="resources/js/app.js" type="text/javascript"></script>
<script src="resources/js/controller/busroutes.js"
	type="text/javascript"></script>
</head>
<body>

	<div class="row margin-bottom-36">
		<div class="columns large-12">
			<img src="resources/images/toplogo.png" alt="">
			<h1 class="decorative-headline">Junge Union Portal</h1>

		</div>
	</div>

	<!-- News -->



	<!-- Fahrpläne -->

	<div class="row margin-bottom-36">
		<div class="columns large-12">
			<div id="content" data-ng-app="michaelruf">
				<div id="busroutes" data-ng-controller="BusRoutesCtl"
					class="bus-routes-wrapper">

					<h2>Fahrpläne</h2>

					<div class="row">
						<div class="columns large-4">

							<label for="routeSelection">Route:</label> <select
								id="routeSelection" data-ng-model="selected.route">
								<option value="qsb">Quierschied >> Saarbrücken</option>
								<option value="sbq">Saarbrücken >> Quierschied</option>
							</select>

						</div>

						<div class="columns large-4">

							<label for="busStopSelection">Haltestation:</label> <select
								data-ng-disabled="!selected.route" id="busStopSelection"
								data-ng-model="selected.busStop">
								<option value="qp">Quierschied Post</option>
								<option value="qam">Quierschied alter Markt</option>
							</select>

						</div>

						<div class="columns large-4">

							<label for="daySelection">Wochentag:</label> <select
								data-ng-disabled="!selected.route || !selected.busStop"
								id="daySelection" data-ng-model="selected.day">
								<option value="mo">Montag</option>
								<option value="di">Dienstag</option>
								<option value="mi">Mittwoch</option>
								<option value="do">Donnerstag</option>
								<option value="fr">Freitag</option>
								<option value="sa">Samstag</option>
								<option value="so">Sonntag</option>
							</select>

						</div>
					</div>
					<div class="row" class="trip-wrapper">
						<div class="columns large-12">

							<h3>Fahrzeiten:</h3>
							<span
								data-ng-show="selected.route && selected.busStop && selected.day">3
								Fahrten</span> <span
								data-ng-show="!selected.route || !selected.busStop || !selected.day">Bitte
								wählen Sie zunächst ihre Routeninformationen aus.</span>
							<ul class="accordion trip-list" data-accordion role="tablist"
								data-ng-show="selected.route && selected.busStop && selected.day">
								<li class="accordion-navigation"><a href="#panel1a"
									role="tab">Abfahrt: 14:30, Ankunft: 14:55<span
										class="icon-accordion right"></span></a>
									<div id="panel1a" class="content" role="tabpanel">
										<div class="row">
											<div class="columns small-8">Quierschied Post</div>
											<div class="columns small-4 text-right">14:30</div>
										</div>
										<div class="row">
											<div class="columns small-8">Quierschied alter Markt</div>
											<div class="columns small-4 text-right">14:32</div>
										</div>
									</div></li>
								<li class="accordion-navigation"><a href="#panel2a"
									role="tab">15:30<span class="icon-accordion right"></span></a>
									<div id="panel2a" class="content" role="tabpanel">
										<div class="row">
											<div class="columns small-8">Quierschied Post</div>
											<div class="columns small-4 text-right">15:30</div>
										</div>
										<div class="row">
											<div class="columns small-8">Quierschied alter Markt</div>
											<div class="columns small-4 text-right">15:32</div>
										</div>
									</div></li>
								<li class="accordion-navigation"><a href="#panel3a"
									role="tab">16:30<span class="icon-accordion right"></span></a>
									<div id="panel3a" class="content" role="tabpanel">
										<div class="row">
											<div class="columns small-8">Quierschied Post</div>
											<div class="columns small-4 text-right">16:30</div>
										</div>
										<div class="row">
											<div class="columns small-8">Quierschied alter Markt</div>
											<div class="columns small-4 text-right">16:32</div>
										</div>
									</div></li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row margin-bottom-36">
		<div class="columns large-24">
			<h2>Impressum</h2>
			<font size="2">Angaben gemäß § 5 TMG:<br> <br> <b>Junge
					Union Saar</b><br>Stengelstraße 5<br>66117 Saarbrücken<br>
				<br>
				<table border="0" cellspacing="0" cellpadding="0"
					style="width: 100%;">
					<tbody>
						<tr>
							<td width="10%">Telefon</td>
							<td width="5%">&nbsp;:&nbsp;</td>
							<td>+49 681 5845392</td>
						</tr>
						<tr>
							<td width="10%">Fax</td>
							<td width="5%">&nbsp;:&nbsp;</td>
							<td>+49 681 585052</td>
						</tr>
					</tbody>
				</table> <br>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV: <a
				href="index.php?ka=1&amp;ska=profil&amp;pid=2">Alexander Zeyer</a>.
				<br> <br>
				<table border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td width="10%">Webmaster</td>
							<td width="5%">&nbsp;:&nbsp;</td>
							<td><a href="index.php?ka=1&amp;ska=profil&amp;pid=11">Oliver
									Kuhn</a></td>
						</tr>
					</tbody>
				</table> <br>Bei dem Inhalt unserer Internetseiten handelt es sich um
				urheberrechtlich geschützte Werke. Wir gestatten die Übernahme von
				Texten in Datenbestände, die ausschließlich für den privaten
				Gebrauch eines Nutzers bestimmt sind. Die Übernahme und Nutzung der
				Daten zu anderen Zwecken bedarf der schriftlichen Zustimmung. <br>
				<br> <b>Haftungshinweis:</b><br> Im Rahmen unseres
				Dienstes werden auch Links zu Internetinhalten anderer Anbieter
				bereitgestellt. Auf den Inhalt dieser Seiten haben wir keinen
				Einfluss; für den Inhalt ist ausschließlich der Betreiber der
				anderen Website verantwortlich. Trotz der Überprüfung der Inhalte im
				gesetzlich gebotenen Rahmen müssen wir daher jede Verantwortung für
				den Inhalt dieser Links bzw. der verlinkten Seite ablehnen. <br>
				<br> <b>Datenschutzerklärung für die Nutzung von
					Social-Plugins</b><br> Auf unseren Internetseiten sind Plugins von
				sozialen Netzwerken eingebunden. Die Plugins erkennen Sie an den
				entsprechenden Logos (Facebook, Google+, Twitter usw.).<br> <br>Wenn
				Sie mit den Plugins interagieren, baut Ihr Browser eine direkte
				Verbindung mit den Servern der sozialen Netzwerke auf. Die Sozialen
				Netzwerke erhalten dadurch die Information, dass Sie mit Ihrer
				IP-Adresse unsere Seite besucht haben. Wenn Sie bei den Sozialen
				Netzwerken eingeloggt sind, können diese den Besuch Ihrem jeweiligen
				Nutzer-Konto zuordnen.<br> <br>Da diese Übertragung direkt
				verläuft, erhalten wir keine Kenntnis von den übermittelten Daten.
				Informationen zu Zweck und Umfang der Datenerhebung durch die
				Sozialen Netzwerke, die weitere Verarbeitung und Nutzung der Daten
				durch die Sozialen Netzwerke sowie Ihre diesbezüglichen Rechte und
				Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre entnehmen
				Sie bitte den Datenschutzhinweisen des jeweiligen Sozialen
				Netzwerks.
			</font>
		</div>
	</div>
	</div>

	<div class="row margin-bottom-36">
		<div class="columns large-24">
			<h2>Lizenzen</h2>
			<div>
				<a href="resources/js/angular/license.txt" target="_blank">Angular
					JS 1.4.2</a>
			</div>
			<div>
				<a href="resources/js/foundation/license.txt" target="_blank">Foundation
					5.5.2</a>
			</div>
			<div>
				<a href="resources/js/vendor/fastclick-license.txt" target="_blank">Fastclick</a>
			</div>
			<div>
				<a href="resources/js/vendor/jquery-license.txt" target="_blank">Jquery</a>
			</div>
			<div>
				<a href="resources/js/vendor/modernizr-license.txt" target="_blank">Modernizr</a>
			</div>
			<div>
				<a href="resources/js/vendor/placeholder-license.txt"
					target="_blank">Placeholder</a>
			</div>
		</div>


	</div>

	<script type="text/javascript">
		$(document).foundation({
			accordion : {}
		});
	</script>
</body>
</html>