/**
Utility classes
**/

.margin-bottom-36 {
	margin-bottom: 36px !important;
}
.remove-border {
	border: none;
}


/**
classes relevant for html5 outlines
**/
.decorative-headline {
	display: none;
}